<!DOCTYPE html>
<html>

<head>
	<title>Simple AngularJS App</title>
</head>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="styles/styles.css">
<script src="scripts/angular.min.js"></script>

<body ng-app="app" ng-controller="AppCtrl">

	<header class="w3-container w3-indigo">
		<h4 class="big-responsive main-head">Rates Summary</h4>
	</header>
	<div class="full-height big-responsive">
		<div class="w3-row">

			<div class="w3-col w3-container lhs">
				<div class="w3-container w3-margin-top rate-heading">
					<div class="row">
						<div class="w3-half rates">
							{{ 'buying rates' | uppercase}}
						</div>
						<div class="w3-half">
							<button class="w3-button w3-white w3-border w3-border-amber custom-btn">{{ 'copy all legs' | uppercase}}</button>
						</div>
					</div>
					<div class="w3-container" ng-repeat="x in myWelcome">
						<div class="row align-with-table">
							<div class="w3-half">{{ x.rate_card_meta.leg_name | uppercase }}</div>
							<div class="w3-half">TOTAL: {{x.rate_card_obj.card_meta.currency}} {{ x.rate_card_obj.card_meta.total_cost | number:0}}</div>
						</div>
						<div class="w3-container table-scroll">
							<table class="w3-table w3-white">
								<tr class="box-shadow">
									<th>Charges</th>
									<th>Final Amount</th>
								</tr>
								<tr ng-repeat="y in x.rate_card_obj.card_charges">
									<td>{{y.charge_name}}</td>
									<td>{{x.rate_card_obj.card_meta.currency}} {{y.total}}</td>
								</tr>
							</table>
						</div>

					</div>
				</div>
			</div>

			<div class="w3-col w3-container rhs">
				<div class="w3-container w3-margin-top rate-heading">
					<div class="row">
						<div class="w3-third rates">
							{{ 'your selling rates' | uppercase}}
						</div>
						<div class="w3-third">
							<button class="w3-button w3-white w3-border w3-border-amber custom-btn">{{ 'create new leg' | uppercase}}</button>
						</div>
						<div class="w3-third">
							<button class="w3-button w3-white w3-border w3-border-amber custom-btn">{{ 'hide charge details' | uppercase}}</button>
						</div>
					</div>
					<!-- <div ng-repeat="x in myWelcome">
								{{ x.rate_card_meta.leg_name }}
							</div> -->
				</div>
			</div>

		</div>
	</div>
	<!-- <div class="w3-container">

		<h3>{{dataBindingTest}}</h3>

	</div> -->
	<div class="w3-container footer">
		<h5>Footer</h5>
		<p>Footer information goes here</p>
	</div>
	<script src="scripts/app.js"></script>

</body>

</html>