<!DOCTYPE html>
<html>

<head>
	<title>Simple AngularJS App</title>
</head>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="app" ng-controller="AppCtrl">

	<header class="w3-container w3-indigo">
		<h4 class="big-responsive main-head">Rates Summary</h4>
	</header>
	<div class="full-height big-responsive">
		<div class="w3-row">

			<div class="w3-col w3-container lhs">
				<div class="w3-container w3-margin-top rate-heading">
					<div class="row">
						<div class="w3-half rates">
							BUYING RATES
						</div>
						<div class="w3-half">
								<button class="w3-button w3-white w3-border w3-border-amber custom-btn">COPY ALL LEGS</button>
						</div>
					</div>
					<!-- <div ng-repeat="x in myWelcome">
						{{ x.rate_card_meta.leg_name }}
					</div> -->
				</div>
			</div>

			<div class="w3-col w3-container rhs">
					<div class="w3-container w3-margin-top rate-heading">
							<div class="row">
								<div class="w3-third rates">
									YOUR SELLING RATES
								</div>
								<div class="w3-third">
										<button class="w3-button w3-white w3-border w3-border-amber custom-btn">CREATE NEW LEG</button>
								</div>
								<div class="w3-third">
										<button class="w3-button w3-white w3-border w3-border-amber custom-btn">HIDE CHARGE DETAILS</button>
								</div>
							</div>
							<!-- <div ng-repeat="x in myWelcome">
								{{ x.rate_card_meta.leg_name }}
							</div> -->
						</div>
			</div>

		</div>
	</div>
	<!-- <div class="w3-container">

		<h3>{{dataBindingTest}}</h3>

	</div> -->
	<div class="w3-container footer">
		<h5>Footer</h5>
		<p>Footer information goes here</p>
	</div>
	<script src="app.js"></script>

</body>

</html>