.full-height {
    height: auto;
}

body {
    background-color: #F7F9FC;
    color: #48494A;
    font-size: 13px;
}

.table-name{
    font-weight: bold;
}

.ok-btn {
    color: white !important;
    border-color: #ffc107;
    margin-top: -3px;
    margin-left: -4px;
}

.simple-btn {
    border: none;
    background: #F7F9FC;
    color: blue;
}

.simple-btn1 {
    background: #eef0f5;
}

/* .ok-btn:hover {
    color: #ffc107 !important;
    background-color: white !important;
    border-color: #ffc107 !important;
} */

.w31-input {
    padding: 8px;
    display: inline-block;
    width: 100px;
    height: 32px;
}

.right-inputs {
    float: right;
    margin-top:10px;
}

.big-responsive {
    max-width: 1366px;
    margin: auto;
}

.main-head {
    margin: 10px auto;
}

.custom-btn {
    color: #ffc107 !important;
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
}

.table-label{
    margin-bottom: 30px;
}

.align-with-table{
    padding: 30px 18px;
}

.table-scroll{
    height: 250px;
    overflow-y: scroll;
    margin-top:10px;
}

.custom-btn:hover {
    color: white !important;
    background-color: #ffc107 !important;
}

.footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-shadow {
    box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.2);
    /* margin:0 16px; */
}

.lhs {
    background-color: #F7F9FC;
    width: 40%;
    padding-top: 5px;
}

.rhs {
    background-color: #eef0f5;
    width: 60%;
    padding-top: 5px;
}

.rate-heading {
    padding: 20px 0px;
}

.rates {
    margin-top: 10px;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 601px) {
    .rhs {
        width: 100%;
        float: left;
    }
    .lhs {
        width: 100%;
        float: left;
    }
}